Flows/flows_smarthouse.json
[{"id":"19f99a71.a3cd36","type":"tab","label":"SmartHouseExample","disabled":false,"info":""},{"id":"3d2c0492.62893c","type":"subflow","name":"Button 2 is pressed","info":"","category":"","in":[],"out":[{"x":520,"y":80,"wires":[{"id":"149a0bf.57e25f4","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"d9457759.80bc28","type":"subflow","name":"Button 1 is pressed","info":"","category":"","in":[],"out":[{"x":580,"y":80,"wires":[{"id":"770a208b.d8f4e","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"b7a6ced1.aaaf8","type":"subflow","name":"Initialization","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"e8d08a0e.857d48"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"268c48a1.d4bf68","type":"subflow","name":"Turn off buzzer","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"eb1cc536.57fc78"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"5b0668f7.6f44d8","type":"subflow","name":"Turn off lamp 2","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"55adafa9.bcdbf"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"2564d8ff.0ce638","type":"subflow","name":"Turn off lamp 1","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"200dbe50.0f6842"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"1cb2d9f9.b65a56","type":"subflow","name":"Turn on buzzer","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"a0bd10cb.f0b63"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"1a1dc7a7.51fff8","type":"subflow","name":"Turn on lamp 2","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"8191abc2.af58e8"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"68a9315c.00939","type":"subflow","name":"Turn on lamp 1","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"64ecfd63.9fb574"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"4086cca2.4435e4","type":"subflow","name":"Toggle buzzer","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"cddb5895.c74518"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"59e4571b.389cc8","type":"subflow","name":"Toggle lamp 2","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"9177d96b.34d638"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"88e9e252.63a84","type":"subflow","name":"Toggle lamp 1","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"3303027f.04391e"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"b6104cfe.c9213","type":"subflow","name":"SmartHouseInitialization","info":"","category":"","in":[{"x":40,"y":80,"wires":[{"id":"fbd9fb45.08cdd8"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"63bbd1b9.bf68e","type":"mqtt-broker","name":"","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f18469.5c132b98","type":"ui_group","name":"Default","tab":"a538eb2b.12c278","order":1,"disp":true,"width":"6","collapse":false},{"id":"a538eb2b.12c278","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"285205be.d79ffa","type":"mqtt-broker","name":"","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"479c83ef.0ff85c","type":"mqtt in","z":"3d2c0492.62893c","name":"","topic":"rpi/gpio/1/input","qos":"2","datatype":"auto","broker":"63bbd1b9.bf68e","x":180,"y":80,"wires":[["149a0bf.57e25f4"]]},{"id":"149a0bf.57e25f4","type":"function","z":"3d2c0492.62893c","name":"pin12 state","func":"var jsonInput = JSON.parse(msg.payload);\nvar pin = jsonInput.pin;\nif(pin == 12) {\n    msg.payload = jsonInput.state\n    return msg    \n}\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":80,"wires":[[]]},{"id":"33e466eb.2ee93a","type":"mqtt in","z":"d9457759.80bc28","name":"","topic":"rpi/gpio/1/input","qos":"2","datatype":"auto","broker":"63bbd1b9.bf68e","x":200,"y":80,"wires":[["770a208b.d8f4e"]]},{"id":"770a208b.d8f4e","type":"function","z":"d9457759.80bc28","name":"pin11 state","func":"var jsonInput = JSON.parse(msg.payload);\nvar pin = jsonInput.pin;\nif(pin == 11) {\n    msg.payload = jsonInput.state\n    return msg    \n}\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":80,"wires":[[]]},{"id":"98edfbb8.6e5168","type":"mqtt out","z":"b7a6ced1.aaaf8","name":"initialize copernicus","topic":"rpi/gpio/1/init","qos":"","retain":"","broker":"63bbd1b9.bf68e","x":590,"y":80,"wires":[]},{"id":"e8d08a0e.857d48","type":"function","z":"b7a6ced1.aaaf8","name":"init","func":"const pins = msg.payload\n    \npins.forEach(pin => {\n    if (pin.type === \"DigitalOutput\") {\n        global.set(`outputState${pin.pin}`, false)\n    }\n})\n\nreturn { payload: {\n\t\"init\": true,\n\t\"pins\": pins\n}}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":190,"y":80,"wires":[["98edfbb8.6e5168"]]},{"id":"eb1cc536.57fc78","type":"function","z":"268c48a1.d4bf68","name":"Pin 16","func":"\nmsg.payload = 16\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":190,"y":80,"wires":[["1c702ed5.543b81"]]},{"id":"9d54853d.944328","type":"mqtt out","z":"268c48a1.d4bf68","name":"send to copernicus","topic":"rpi/gpio/1/output","qos":"","retain":"","broker":"63bbd1b9.bf68e","x":550,"y":80,"wires":[]},{"id":"1c702ed5.543b81","type":"function","z":"268c48a1.d4bf68","name":"outputOff","func":"let pin = parseInt(msg.payload)\nmsg.payload = {'pin': pin, 'state': 0}\nglobal.set(`outputState${pin}`, false)\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":80,"wires":[["9d54853d.944328"]]},{"id":"55adafa9.bcdbf","type":"function","z":"5b0668f7.6f44d8","name":"Pin 22","func":"\nmsg.payload = 22\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":190,"y":80,"wires":[["10ac6ed6.e28cb1"]]},{"id":"2ff860cd.1b923","type":"mqtt out","z":"5b0668f7.6f44d8","name":"send to copernicus","topic":"rpi/gpio/1/output","qos":"","retain":"","broker":"63bbd1b9.bf68e","x":550,"y":80,"wires":[]},{"id":"10ac6ed6.e28cb1","type":"function","z":"5b0668f7.6f44d8","name":"outputOff","func":"let pin = parseInt(msg.payload)\nmsg.payload = {'pin': pin, 'state': 0}\nglobal.set(`outputState${pin}`, false)\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":80,"wires":[["2ff860cd.1b923"]]},{"id":"17366851.adbd58","type":"function","z":"2564d8ff.0ce638","name":"outputOff","func":"let pin = parseInt(msg.payload)\nmsg.payload = {'pin': pin, 'state': 0}\nglobal.set(`outputState${pin}`, false)\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":80,"wires":[["25cfda26.c25f76"]]},{"id":"200dbe50.0f6842","type":"function","z":"2564d8ff.0ce638","name":"Pin 21","func":"\nmsg.payload = 21\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":190,"y":80,"wires":[["17366851.adbd58"]]},{"id":"25cfda26.c25f76","type":"mqtt out","z":"2564d8ff.0ce638","name":"send to copernicus","topic":"rpi/gpio/1/output","qos":"","retain":"","broker":"63bbd1b9.bf68e","x":550,"y":80,"wires":[]},{"id":"e0ba11cb.10348","type":"function","z":"1cb2d9f9.b65a56","name":"outputOn","func":"let pin = parseInt(msg.payload)\nmsg.payload = {'pin': pin, 'state': 1}\nglobal.set(`outputState${pin}`, true)\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":80,"wires":[["f51ac76a.46b1b8"]]},{"id":"a0bd10cb.f0b63","type":"function","z":"1cb2d9f9.b65a56","name":"Pin 16","func":"\nmsg.payload = 16\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":190,"y":80,"wires":[["e0ba11cb.10348"]]},{"id":"f51ac76a.46b1b8","type":"mqtt out","z":"1cb2d9f9.b65a56","name":"send to copernicus","topic":"rpi/gpio/1/output","qos":"","retain":"","broker":"63bbd1b9.bf68e","x":550,"y":80,"wires":[]},{"id":"95932980.d41668","type":"function","z":"1a1dc7a7.51fff8","name":"outputOn","func":"let pin = parseInt(msg.payload)\nmsg.payload = {'pin': pin, 'state': 1}\nglobal.set(`outputState${pin}`, true)\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":80,"wires":[["22c893b0.40bd2c"]]},{"id":"8191abc2.af58e8","type":"function","z":"1a1dc7a7.51fff8","name":"Pin 22","func":"\nmsg.payload = 22\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":190,"y":80,"wires":[["95932980.d41668"]]},{"id":"22c893b0.40bd2c","type":"mqtt out","z":"1a1dc7a7.51fff8","name":"send to copernicus","topic":"rpi/gpio/1/output","qos":"","retain":"","broker":"63bbd1b9.bf68e","x":550,"y":80,"wires":[]},{"id":"f7a6557b.4ff748","type":"function","z":"68a9315c.00939","name":"outputOn","func":"let pin = parseInt(msg.payload)\nmsg.payload = {'pin': pin, 'state': 1}\nglobal.set(`outputState${pin}`, true)\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":80,"wires":[["e39d88e1.cb34f8"]]},{"id":"64ecfd63.9fb574","type":"function","z":"68a9315c.00939","name":"Pin 21","func":"\nmsg.payload = 21\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":190,"y":80,"wires":[["f7a6557b.4ff748"]]},{"id":"e39d88e1.cb34f8","type":"mqtt out","z":"68a9315c.00939","name":"send to copernicus","topic":"rpi/gpio/1/output","qos":"","retain":"","broker":"63bbd1b9.bf68e","x":550,"y":80,"wires":[]},{"id":"6ede3fd3.ef356","type":"function","z":"4086cca2.4435e4","name":"toggleOutput","func":"let pin = parseInt(msg.payload)\nif (global.get(`outputState${pin}`)){\n    msg.payload = {'pin': pin, 'state': 0}\n    global.set(`outputState${pin}`, false)\n    \n} else {\n    msg.payload = {'pin': pin, 'state': 1}\n    global.set(`outputState${pin}`, true)\n}\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":80,"wires":[["e9cfb4c9.2ebac8"]]},{"id":"e9cfb4c9.2ebac8","type":"mqtt out","z":"4086cca2.4435e4","name":"send to copernicus","topic":"rpi/gpio/1/output","qos":"","retain":"","broker":"63bbd1b9.bf68e","x":590,"y":80,"wires":[]},{"id":"cddb5895.c74518","type":"function","z":"4086cca2.4435e4","name":"Pin 16","func":"\nmsg.payload = 16\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":190,"y":80,"wires":[["6ede3fd3.ef356"]]},{"id":"9177d96b.34d638","type":"function","z":"59e4571b.389cc8","name":"Pin 22","func":"\nmsg.payload = 22\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":190,"y":80,"wires":[["bac8002a.bb54e"]]},{"id":"3e8480c5.11da1","type":"mqtt out","z":"59e4571b.389cc8","name":"send to copernicus","topic":"rpi/gpio/1/output","qos":"","retain":"","broker":"63bbd1b9.bf68e","x":590,"y":80,"wires":[]},{"id":"bac8002a.bb54e","type":"function","z":"59e4571b.389cc8","name":"toggleOutput","func":"let pin = parseInt(msg.payload)\nif (global.get(`outputState${pin}`)){\n    msg.payload = {'pin': pin, 'state': 0}\n    global.set(`outputState${pin}`, false)\n    \n} else {\n    msg.payload = {'pin': pin, 'state': 1}\n    global.set(`outputState${pin}`, true)\n}\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":80,"wires":[["3e8480c5.11da1"]]},{"id":"b6d09a65.81e068","type":"function","z":"88e9e252.63a84","name":"toggleOutput","func":"let pin = parseInt(msg.payload)\nif (global.get(`outputState${pin}`)){\n    msg.payload = {'pin': pin, 'state': 0}\n    global.set(`outputState${pin}`, false)\n    \n} else {\n    msg.payload = {'pin': pin, 'state': 1}\n    global.set(`outputState${pin}`, true)\n}\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":80,"wires":[["50c0c3aa.d571dc"]]},{"id":"3303027f.04391e","type":"function","z":"88e9e252.63a84","name":"Pin 21","func":"\nmsg.payload = 21\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":190,"y":80,"wires":[["b6d09a65.81e068"]]},{"id":"50c0c3aa.d571dc","type":"mqtt out","z":"88e9e252.63a84","name":"send to copernicus","topic":"rpi/gpio/1/output","qos":"","retain":"","broker":"63bbd1b9.bf68e","x":590,"y":80,"wires":[]},{"id":"d0eb2766.80c358","type":"inject","z":"19f99a71.a3cd36","name":"button","props":[{"p":"payload"},{"p":"topic","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":230,"y":240,"wires":[["3fadd56f.4d7d1a"]]},{"id":"3aa33575.d67ffa","type":"inject","z":"19f99a71.a3cd36","name":"button","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":230,"y":160,"wires":[["efbcdc93.2144c"]]},{"id":"750c493f.134fb8","type":"inject","z":"19f99a71.a3cd36","name":"button","props":[{"p":"payload"},{"p":"topic","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":230,"y":280,"wires":[["d86e8834.707398"]]},{"id":"fde74d64.92467","type":"inject","z":"19f99a71.a3cd36","name":"button","props":[{"p":"payload"},{"p":"topic","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":230,"y":320,"wires":[["be41f8b3.476a78"]]},{"id":"3fadd56f.4d7d1a","type":"subflow:88e9e252.63a84","z":"19f99a71.a3cd36","name":"","env":[],"x":460,"y":240,"wires":[]},{"id":"d86e8834.707398","type":"subflow:59e4571b.389cc8","z":"19f99a71.a3cd36","name":"","env":[],"x":460,"y":280,"wires":[]},{"id":"be41f8b3.476a78","type":"subflow:4086cca2.4435e4","z":"19f99a71.a3cd36","name":"","env":[],"x":460,"y":320,"wires":[]},{"id":"487bf45d.60f3cc","type":"inject","z":"19f99a71.a3cd36","name":"button","props":[{"p":"payload"},{"p":"topic","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":230,"y":400,"wires":[["5f49b43a.47559c"]]},{"id":"bc415095.3a0d9","type":"inject","z":"19f99a71.a3cd36","name":"button","props":[{"p":"payload"},{"p":"topic","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":230,"y":440,"wires":[["54932980.545bf8"]]},{"id":"8fb19af7.86d678","type":"inject","z":"19f99a71.a3cd36","name":"button","props":[{"p":"payload"},{"p":"topic","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":230,"y":480,"wires":[["1287ea33.a85d26"]]},{"id":"f0b82d86.a1444","type":"inject","z":"19f99a71.a3cd36","name":"button","props":[{"p":"payload"},{"p":"topic","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":230,"y":560,"wires":[["30d1c8ee.597f88"]]},{"id":"f7944511.440768","type":"inject","z":"19f99a71.a3cd36","name":"button","props":[{"p":"payload"},{"p":"topic","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":230,"y":600,"wires":[["426daec1.34ccc"]]},{"id":"b40e9f66.91da1","type":"inject","z":"19f99a71.a3cd36","name":"button","props":[{"p":"payload"},{"p":"topic","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":230,"y":640,"wires":[["8d3807ff.7b7928"]]},{"id":"5f49b43a.47559c","type":"subflow:68a9315c.00939","z":"19f99a71.a3cd36","name":"","env":[],"x":460,"y":400,"wires":[]},{"id":"54932980.545bf8","type":"subflow:1a1dc7a7.51fff8","z":"19f99a71.a3cd36","name":"","env":[],"x":460,"y":440,"wires":[]},{"id":"1287ea33.a85d26","type":"subflow:1cb2d9f9.b65a56","z":"19f99a71.a3cd36","name":"","env":[],"x":460,"y":480,"wires":[]},{"id":"30d1c8ee.597f88","type":"subflow:2564d8ff.0ce638","z":"19f99a71.a3cd36","name":"","env":[],"x":460,"y":560,"wires":[]},{"id":"426daec1.34ccc","type":"subflow:5b0668f7.6f44d8","z":"19f99a71.a3cd36","name":"","env":[],"x":460,"y":600,"wires":[]},{"id":"8d3807ff.7b7928","type":"subflow:268c48a1.d4bf68","z":"19f99a71.a3cd36","name":"","env":[],"x":460,"y":640,"wires":[]},{"id":"e301a658.c5d028","type":"subflow:88e9e252.63a84","z":"19f99a71.a3cd36","name":"","env":[],"x":460,"y":740,"wires":[]},{"id":"61032d1.4d386d4","type":"subflow:59e4571b.389cc8","z":"19f99a71.a3cd36","name":"","env":[],"x":460,"y":780,"wires":[]},{"id":"a7832c85.7e11d","type":"inject","z":"19f99a71.a3cd36","name":"button","props":[{"p":"payload"},{"p":"topic","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":230,"y":760,"wires":[["e301a658.c5d028","61032d1.4d386d4"]]},{"id":"fed8a8be.98f368","type":"subflow:b7a6ced1.aaaf8","z":"b6104cfe.c9213","name":"","env":[],"x":370,"y":80,"wires":[]},{"id":"fbd9fb45.08cdd8","type":"function","z":"b6104cfe.c9213","name":"Pins settings","func":"const pins = [\n    {\n\t     \"pin\": 11,\n\t     \"type\": \"DigitalInput\"\n    }, \t\n    { \t       \n        \"pin\": 12, \t        \n        \"type\": \"DigitalInput\" \t    \n        \n    }, \t    \n    { \t        \n        \"pin\": 16, \t        \n        \"type\": \"DigitalOutput\" \t    \n        \n    }, \t    \n    { \t        \n        \"pin\": 21,\n        \"type\": \"DigitalOutput\"\n    },\n    { \t        \n        \"pin\": 22,\n        \"type\": \"DigitalOutput\"\n    } \t \n]\nmsg.payload = pins\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":190,"y":80,"wires":[["fed8a8be.98f368"]]},{"id":"d716bcf.165284","type":"subflow:d9457759.80bc28","z":"19f99a71.a3cd36","name":"Button 1 is pressed","env":[],"x":250,"y":880,"wires":[["1a3cdec7.b34cb1","f52418ee.a6c4e8"]]},{"id":"742b4d77.dd7234","type":"subflow:3d2c0492.62893c","z":"19f99a71.a3cd36","name":"Button 2 is pressed","env":[],"x":250,"y":980,"wires":[["41d7da60.3f25e4","c3be7730.e6fe18"]]},{"id":"1a3cdec7.b34cb1","type":"subflow:59e4571b.389cc8","z":"19f99a71.a3cd36","name":"","x":460,"y":860,"wires":[]},{"id":"41d7da60.3f25e4","type":"subflow:4086cca2.4435e4","z":"19f99a71.a3cd36","name":"","x":460,"y":960,"wires":[]},{"id":"c3be7730.e6fe18","type":"subflow:68a9315c.00939","z":"19f99a71.a3cd36","name":"","env":[],"x":460,"y":1000,"wires":[]},{"id":"f52418ee.a6c4e8","type":"subflow:2564d8ff.0ce638","z":"19f99a71.a3cd36","name":"","env":[],"x":460,"y":900,"wires":[]},{"id":"efbcdc93.2144c","type":"subflow:b6104cfe.c9213","z":"19f99a71.a3cd36","name":"","env":[],"x":490,"y":160,"wires":[]}]