Flows/flows.json
[{"id":"77c8dca7.e1ba74","type":"subflow","name":"ToggleLed","info":"","category":"","in":[{"x":60,"y":380,"wires":[{"id":"c9acd33a.8961c"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"c9acd33a.8961c","type":"function","z":"77c8dca7.e1ba74","name":"toggleLed","func":"if (global.get('ledState2')){\n    msg.payload = {'init': false, 'pin': 21, 'state': 0}\n    global.set('ledState2', false)\n    \n} else {\n    msg.payload = {'init': false, 'pin': 21, 'state': 1}\n    global.set('ledState2', true)\n}\n\nreturn msg","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\n\n\nglobal.set('ledState2', false)","finalize":"","x":320,"y":380,"wires":[["e6e34e18.1db2a"]]},{"id":"e6e34e18.1db2a","type":"mqtt out","z":"77c8dca7.e1ba74","name":"sendToCopernicus2","topic":"kraleppa/test/1/input","qos":"","retain":"","broker":"63bbd1b9.bf68e","x":600,"y":380,"wires":[]},{"id":"57a8ef59.1ef1e","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"5d87d12f.7d0f6","type":"inject","z":"57a8ef59.1ef1e","name":"Toggle","props":[{"p":"payload"},{"p":"topic","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":110,"y":300,"wires":[["20bb4bd9.d95374"]]},{"id":"f781bc66.9a56e","type":"inject","z":"57a8ef59.1ef1e","name":"Init","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":200,"wires":[["dc9788b2.724628"]]},{"id":"47ca633a.18eaec","type":"mqtt out","z":"57a8ef59.1ef1e","name":"sendToCopernicus","topic":"kraleppa/test/3/init","qos":"","retain":"","broker":"63bbd1b9.bf68e","x":610,"y":200,"wires":[]},{"id":"dc9788b2.724628","type":"function","z":"57a8ef59.1ef1e","name":"toggleLed","func":"return { payload: {\n\t\"init\": true,\n\t\"pins\": [\n\t    {\n\t        \"pin\": 11,\n\t        \"type\": \"DigitalInput\"\n\t    },\n\t    {\n\t        \"pin\": 12,\n\t        \"type\": \"DigitalInput\"\n\t    },\n\t    {\n\t        \"pin\": 16,\n\t        \"type\": \"DigitalOutput\"\n\t    },\n\t    {\n\t        \"pin\": 21,\n\t        \"type\": \"DigitalOutput\"\n\t    },\n\t    {\n\t        \"pin\": 22,\n\t        \"type\": \"DigitalOutput\"\n\t    }\n\t ]\n}}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":200,"wires":[["47ca633a.18eaec"]]},{"id":"4666e9d3.8e0cd8","type":"inject","z":"57a8ef59.1ef1e","name":"Toggle","props":[{"p":"payload"},{"p":"topic","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":110,"y":380,"wires":[["cba9d63d.27eaa8"]]},{"id":"cba9d63d.27eaa8","type":"function","z":"57a8ef59.1ef1e","name":"toggleLed","func":"if (global.get('ledState1')){\n    msg.payload = {'pin': 22, 'state': 0}\n    global.set('ledState1', false)\n    \n} else {\n    msg.payload = {'pin': 22, 'state': 1}\n    global.set('ledState1', true)\n}\n\nreturn msg","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\n\n\nglobal.set('ledState1', false)","finalize":"","x":340,"y":380,"wires":[["ce423e87.4c4d3"]]},{"id":"ce423e87.4c4d3","type":"mqtt out","z":"57a8ef59.1ef1e","name":"sendToCopernicus","topic":"kraleppa/test/3/output","qos":"","retain":"","broker":"63bbd1b9.bf68e","x":610,"y":380,"wires":[]},{"id":"20bb4bd9.d95374","type":"subflow:77c8dca7.e1ba74","z":"57a8ef59.1ef1e","name":"","env":[],"x":360,"y":300,"wires":[]},{"id":"4b820935.e5b788","type":"inject","z":"57a8ef59.1ef1e","name":"Toggle","props":[{"p":"payload"},{"p":"topic","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":110,"y":460,"wires":[["d8f93dda.15982"]]},{"id":"d8f93dda.15982","type":"function","z":"57a8ef59.1ef1e","name":"toggleLed","func":"if (global.get('ledState1')){\n    msg.payload = {'pin': 21, 'state': 0}\n    global.set('ledState1', false)\n    \n} else {\n    msg.payload = {'pin': 21, 'state': 1}\n    global.set('ledState1', true)\n}\n\nreturn msg","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\n\n\nglobal.set('ledState1', false)","finalize":"","x":340,"y":460,"wires":[["2856d777.32fd48"]]},{"id":"2856d777.32fd48","type":"mqtt out","z":"57a8ef59.1ef1e","name":"sendToCopernicus","topic":"kraleppa/test/3/output","qos":"","retain":"","broker":"63bbd1b9.bf68e","x":610,"y":460,"wires":[]},{"id":"63bbd1b9.bf68e","type":"mqtt-broker","name":"","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]