Flows/flows.json
[{"id":"d9a9e5f2.30c3a8","type":"subflow","name":"Initialization","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"e42187bc.e54138"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"56b6afd3.ec6ea","type":"mqtt out","z":"d9a9e5f2.30c3a8","name":"initialize copernicus","topic":"rpi/gpio/1/init","qos":"","retain":"","broker":"63bbd1b9.bf68e","x":590,"y":80,"wires":[]},{"id":"e42187bc.e54138","type":"function","z":"d9a9e5f2.30c3a8","name":"init","func":"const pins = msg.payload\n    \npins.forEach(pin => {\n    if (pin.type === \"DigitalOutput\") {\n        global.set(`outputState${pin.pin}`, false)\n    }\n})\n\nreturn { payload: {\n\t\"init\": true,\n\t\"pins\": pins\n}}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":190,"y":80,"wires":[["56b6afd3.ec6ea"]]},{"id":"6753843e.8e80bc","type":"subflow","name":"Turn off buzzer","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"cb744064.1a3a"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"cb744064.1a3a","type":"function","z":"6753843e.8e80bc","name":"Pin 16","func":"\nmsg.payload = 16\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":190,"y":80,"wires":[["ccdfc012.fee55"]]},{"id":"81fb963.4b66568","type":"mqtt out","z":"6753843e.8e80bc","name":"send to copernicus","topic":"rpi/gpio/1/output","qos":"","retain":"","broker":"63bbd1b9.bf68e","x":550,"y":80,"wires":[]},{"id":"ccdfc012.fee55","type":"function","z":"6753843e.8e80bc","name":"outputOff","func":"let pin = parseInt(msg.payload)\nmsg.payload = {'pin': pin, 'state': 0}\nglobal.set(`outputState${pin}`, false)\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":80,"wires":[["81fb963.4b66568"]]},{"id":"4b8e151.e935aec","type":"subflow","name":"Turn off lamp 2","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"a915fdbd.a93d5"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"a915fdbd.a93d5","type":"function","z":"4b8e151.e935aec","name":"Pin 22","func":"\nmsg.payload = 22\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":190,"y":80,"wires":[["7b55c54d.82408c"]]},{"id":"88c48cba.04d4f","type":"mqtt out","z":"4b8e151.e935aec","name":"send to copernicus","topic":"rpi/gpio/1/output","qos":"","retain":"","broker":"63bbd1b9.bf68e","x":550,"y":80,"wires":[]},{"id":"7b55c54d.82408c","type":"function","z":"4b8e151.e935aec","name":"outputOff","func":"let pin = parseInt(msg.payload)\nmsg.payload = {'pin': pin, 'state': 0}\nglobal.set(`outputState${pin}`, false)\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":80,"wires":[["88c48cba.04d4f"]]},{"id":"e3b892ba.45047","type":"subflow","name":"Turn off lamp 1","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"932e3067.7d6ea"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"6bd31b28.bed664","type":"function","z":"e3b892ba.45047","name":"outputOff","func":"let pin = parseInt(msg.payload)\nmsg.payload = {'pin': pin, 'state': 0}\nglobal.set(`outputState${pin}`, false)\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":80,"wires":[["8b930ee7.5120d"]]},{"id":"932e3067.7d6ea","type":"function","z":"e3b892ba.45047","name":"Pin 21","func":"\nmsg.payload = 21\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":190,"y":80,"wires":[["6bd31b28.bed664"]]},{"id":"8b930ee7.5120d","type":"mqtt out","z":"e3b892ba.45047","name":"send to copernicus","topic":"rpi/gpio/1/output","qos":"","retain":"","broker":"63bbd1b9.bf68e","x":550,"y":80,"wires":[]},{"id":"aa7b14b7.f3ca98","type":"subflow","name":"Turn on buzzer","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"d2fd0e04.d96cd"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"7bfee77c.b4a4f8","type":"function","z":"aa7b14b7.f3ca98","name":"outputOn","func":"let pin = parseInt(msg.payload)\nmsg.payload = {'pin': pin, 'state': 1}\nglobal.set(`outputState${pin}`, true)\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":80,"wires":[["93d2ca76.0f1ca8"]]},{"id":"d2fd0e04.d96cd","type":"function","z":"aa7b14b7.f3ca98","name":"Pin 16","func":"\nmsg.payload = 16\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":190,"y":80,"wires":[["7bfee77c.b4a4f8"]]},{"id":"93d2ca76.0f1ca8","type":"mqtt out","z":"aa7b14b7.f3ca98","name":"send to copernicus","topic":"rpi/gpio/1/output","qos":"","retain":"","broker":"63bbd1b9.bf68e","x":550,"y":80,"wires":[]},{"id":"3e4d32fc.e788fe","type":"subflow","name":"Turn on lamp 2","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"53b5b2b9.d4c0fc"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"4c146e5d.c5a05","type":"function","z":"3e4d32fc.e788fe","name":"outputOn","func":"let pin = parseInt(msg.payload)\nmsg.payload = {'pin': pin, 'state': 1}\nglobal.set(`outputState${pin}`, true)\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":80,"wires":[["3d968c45.312834"]]},{"id":"53b5b2b9.d4c0fc","type":"function","z":"3e4d32fc.e788fe","name":"Pin 22","func":"\nmsg.payload = 22\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":190,"y":80,"wires":[["4c146e5d.c5a05"]]},{"id":"3d968c45.312834","type":"mqtt out","z":"3e4d32fc.e788fe","name":"send to copernicus","topic":"rpi/gpio/1/output","qos":"","retain":"","broker":"63bbd1b9.bf68e","x":550,"y":80,"wires":[]},{"id":"814cc60e.d8e9c8","type":"subflow","name":"Turn on lamp 1","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"cb277d3f.7c1d2"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"a1611df8.2c886","type":"function","z":"814cc60e.d8e9c8","name":"outputOn","func":"let pin = parseInt(msg.payload)\nmsg.payload = {'pin': pin, 'state': 1}\nglobal.set(`outputState${pin}`, true)\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":80,"wires":[["311e5ab7.7f0076"]]},{"id":"cb277d3f.7c1d2","type":"function","z":"814cc60e.d8e9c8","name":"Pin 21","func":"\nmsg.payload = 21\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":190,"y":80,"wires":[["a1611df8.2c886"]]},{"id":"311e5ab7.7f0076","type":"mqtt out","z":"814cc60e.d8e9c8","name":"send to copernicus","topic":"rpi/gpio/1/output","qos":"","retain":"","broker":"63bbd1b9.bf68e","x":550,"y":80,"wires":[]},{"id":"fc55bdc2.6f223","type":"subflow","name":"Toggle buzzer","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"ab7ddd1f.0b96e"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"25c5e0e2.c8c74","type":"function","z":"fc55bdc2.6f223","name":"toggleOutput","func":"let pin = parseInt(msg.payload)\nif (global.get(`outputState${pin}`)){\n    msg.payload = {'pin': pin, 'state': 0}\n    global.set(`outputState${pin}`, false)\n    \n} else {\n    msg.payload = {'pin': pin, 'state': 1}\n    global.set(`outputState${pin}`, true)\n}\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":80,"wires":[["50f468b1.904918"]]},{"id":"50f468b1.904918","type":"mqtt out","z":"fc55bdc2.6f223","name":"send to copernicus","topic":"rpi/gpio/1/output","qos":"","retain":"","broker":"63bbd1b9.bf68e","x":590,"y":80,"wires":[]},{"id":"ab7ddd1f.0b96e","type":"function","z":"fc55bdc2.6f223","name":"Pin 16","func":"\nmsg.payload = 16\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":190,"y":80,"wires":[["25c5e0e2.c8c74"]]},{"id":"537b4b74.3ebb24","type":"subflow","name":"Toggle lamp 2","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"c64f507.503d2b"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"c64f507.503d2b","type":"function","z":"537b4b74.3ebb24","name":"Pin 22","func":"\nmsg.payload = 22\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":190,"y":80,"wires":[["c88c9655.091318"]]},{"id":"e8b7ee57.98f6f","type":"mqtt out","z":"537b4b74.3ebb24","name":"send to copernicus","topic":"rpi/gpio/1/output","qos":"","retain":"","broker":"63bbd1b9.bf68e","x":590,"y":80,"wires":[]},{"id":"c88c9655.091318","type":"function","z":"537b4b74.3ebb24","name":"toggleOutput","func":"let pin = parseInt(msg.payload)\nif (global.get(`outputState${pin}`)){\n    msg.payload = {'pin': pin, 'state': 0}\n    global.set(`outputState${pin}`, false)\n    \n} else {\n    msg.payload = {'pin': pin, 'state': 1}\n    global.set(`outputState${pin}`, true)\n}\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":80,"wires":[["e8b7ee57.98f6f"]]},{"id":"ecae98e8.889a28","type":"subflow","name":"Toggle lamp 1","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"a34c986f.e9a6f8"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"74669d46.f36d84","type":"function","z":"ecae98e8.889a28","name":"toggleOutput","func":"let pin = parseInt(msg.payload)\nif (global.get(`outputState${pin}`)){\n    msg.payload = {'pin': pin, 'state': 0}\n    global.set(`outputState${pin}`, false)\n    \n} else {\n    msg.payload = {'pin': pin, 'state': 1}\n    global.set(`outputState${pin}`, true)\n}\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":80,"wires":[["89f4bfc1.5f10b"]]},{"id":"a34c986f.e9a6f8","type":"function","z":"ecae98e8.889a28","name":"Pin 21","func":"\nmsg.payload = 21\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":190,"y":80,"wires":[["74669d46.f36d84"]]},{"id":"89f4bfc1.5f10b","type":"mqtt out","z":"ecae98e8.889a28","name":"send to copernicus","topic":"rpi/gpio/1/output","qos":"","retain":"","broker":"63bbd1b9.bf68e","x":590,"y":80,"wires":[]},{"id":"63bbd1b9.bf68e","type":"mqtt-broker","name":"","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7fd68a98.0b6fd4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d3e4e6d0.e49518","type":"inject","z":"7fd68a98.0b6fd4","name":"button","props":[{"p":"payload"},{"p":"topic","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":230,"y":240,"wires":[["93cf7ec.5db628"]]},{"id":"6cf3843a.3d8efc","type":"inject","z":"7fd68a98.0b6fd4","name":"button","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":230,"y":140,"wires":[["c7999483.4c6268"]]},{"id":"1dfe610d.f2fd2f","type":"inject","z":"7fd68a98.0b6fd4","name":"button","props":[{"p":"payload"},{"p":"topic","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":230,"y":280,"wires":[["35dca2ab.35cf3e"]]},{"id":"420792d2.444e2c","type":"inject","z":"7fd68a98.0b6fd4","name":"button","props":[{"p":"payload"},{"p":"topic","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":230,"y":320,"wires":[["df564a80.e2bc98"]]},{"id":"93cf7ec.5db628","type":"subflow:ecae98e8.889a28","z":"7fd68a98.0b6fd4","name":"","env":[],"x":460,"y":240,"wires":[]},{"id":"35dca2ab.35cf3e","type":"subflow:537b4b74.3ebb24","z":"7fd68a98.0b6fd4","name":"","env":[],"x":460,"y":280,"wires":[]},{"id":"df564a80.e2bc98","type":"subflow:fc55bdc2.6f223","z":"7fd68a98.0b6fd4","name":"","env":[],"x":460,"y":320,"wires":[]},{"id":"a2601ab1.102038","type":"inject","z":"7fd68a98.0b6fd4","name":"button","props":[{"p":"payload"},{"p":"topic","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":230,"y":400,"wires":[["6eb36192.624f6"]]},{"id":"604b61e7.0a858","type":"inject","z":"7fd68a98.0b6fd4","name":"button","props":[{"p":"payload"},{"p":"topic","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":230,"y":440,"wires":[["b6714f22.d80b1"]]},{"id":"b63708e8.81ee58","type":"inject","z":"7fd68a98.0b6fd4","name":"button","props":[{"p":"payload"},{"p":"topic","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":230,"y":480,"wires":[["785b7efd.ff0b6"]]},{"id":"f3e73bd6.c02b18","type":"inject","z":"7fd68a98.0b6fd4","name":"button","props":[{"p":"payload"},{"p":"topic","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":230,"y":560,"wires":[["b4f88717.f022e8"]]},{"id":"e0aab331.dcc95","type":"inject","z":"7fd68a98.0b6fd4","name":"button","props":[{"p":"payload"},{"p":"topic","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":230,"y":600,"wires":[["70160e6c.5a75a"]]},{"id":"36dfba4b.ed96a6","type":"inject","z":"7fd68a98.0b6fd4","name":"button","props":[{"p":"payload"},{"p":"topic","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":230,"y":640,"wires":[["6604f59e.591cbc"]]},{"id":"6eb36192.624f6","type":"subflow:814cc60e.d8e9c8","z":"7fd68a98.0b6fd4","name":"","env":[],"x":460,"y":400,"wires":[]},{"id":"b6714f22.d80b1","type":"subflow:3e4d32fc.e788fe","z":"7fd68a98.0b6fd4","name":"","env":[],"x":460,"y":440,"wires":[]},{"id":"785b7efd.ff0b6","type":"subflow:aa7b14b7.f3ca98","z":"7fd68a98.0b6fd4","name":"","env":[],"x":460,"y":480,"wires":[]},{"id":"b4f88717.f022e8","type":"subflow:e3b892ba.45047","z":"7fd68a98.0b6fd4","name":"","env":[],"x":460,"y":560,"wires":[]},{"id":"70160e6c.5a75a","type":"subflow:4b8e151.e935aec","z":"7fd68a98.0b6fd4","name":"","env":[],"x":460,"y":600,"wires":[]},{"id":"6604f59e.591cbc","type":"subflow:6753843e.8e80bc","z":"7fd68a98.0b6fd4","name":"","env":[],"x":460,"y":640,"wires":[]},{"id":"48438261.921d3c","type":"subflow:ecae98e8.889a28","z":"7fd68a98.0b6fd4","name":"","env":[],"x":460,"y":740,"wires":[]},{"id":"582017a3.953fb8","type":"subflow:537b4b74.3ebb24","z":"7fd68a98.0b6fd4","name":"","env":[],"x":460,"y":780,"wires":[]},{"id":"e0e2b9e1.216548","type":"inject","z":"7fd68a98.0b6fd4","name":"button","props":[{"p":"payload"},{"p":"topic","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":230,"y":760,"wires":[["48438261.921d3c","582017a3.953fb8"]]},{"id":"73e9fb92.e97414","type":"subflow:d9a9e5f2.30c3a8","z":"7fd68a98.0b6fd4","name":"","env":[],"x":590,"y":140,"wires":[]},{"id":"c7999483.4c6268","type":"function","z":"7fd68a98.0b6fd4","name":"Pins settings","func":"const pins = [\n    {\n\t     \"pin\": 11,\n\t     \"type\": \"DigitalInput\"\n    }, \t\n    { \t       \n        \"pin\": 12, \t        \n        \"type\": \"DigitalInput\" \t    \n        \n    }, \t    \n    { \t        \n        \"pin\": 16, \t        \n        \"type\": \"DigitalOutput\" \t    \n        \n    }, \t    \n    { \t        \n        \"pin\": 21,\n        \"type\": \"DigitalOutput\"\n    },\n    { \t        \n        \"pin\": 22,\n        \"type\": \"DigitalOutput\"\n    } \t \n]\nmsg.payload = pins\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":140,"wires":[["73e9fb92.e97414"]]}]