Flows/flows_smart_house.json
[{"id":"557acc7d.39ac24","type":"subflow","name":"Initialization","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"1c56cdc2.479c12"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"af278a00.2a5988","type":"mqtt out","z":"557acc7d.39ac24","name":"initialize copernicus","topic":"rpi/gpio/1/init","qos":"","retain":"","broker":"63bbd1b9.bf68e","x":590,"y":80,"wires":[]},{"id":"1c56cdc2.479c12","type":"function","z":"557acc7d.39ac24","name":"init","func":"const pins = msg.payload\n    \npins.forEach(pin => {\n    if (pin.type === \"DigitalOutput\") {\n        global.set(`outputState${pin.pin}`, false)\n    }\n})\n\nreturn { payload: {\n\t\"init\": true,\n\t\"pins\": pins\n}}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":190,"y":80,"wires":[["af278a00.2a5988"]]},{"id":"8a9e43e6.bfabc","type":"subflow","name":"SmartHouseInitialization","info":"","category":"","in":[{"x":40,"y":80,"wires":[{"id":"63e9b5be.c9f95c"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"11ac1532.39aaeb","type":"subflow:557acc7d.39ac24","z":"8a9e43e6.bfabc","name":"","env":[],"x":370,"y":80,"wires":[]},{"id":"63e9b5be.c9f95c","type":"function","z":"8a9e43e6.bfabc","name":"Pins settings","func":"const pins = [\n    {\n\t     \"pin\": 11,\n\t     \"type\": \"DigitalInput\"\n    }, \t\n    { \t       \n        \"pin\": 12, \t        \n        \"type\": \"DigitalInput\" \t    \n        \n    }, \t    \n    { \t        \n        \"pin\": 16, \t        \n        \"type\": \"DigitalOutput\" \t    \n        \n    }, \t    \n    { \t        \n        \"pin\": 21,\n        \"type\": \"DigitalOutput\"\n    },\n    { \t        \n        \"pin\": 22,\n        \"type\": \"DigitalOutput\"\n    } \t \n]\nmsg.payload = pins\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":190,"y":80,"wires":[["11ac1532.39aaeb"]]},{"id":"1ef12e67.8db042","type":"subflow","name":"Button 2 is pressed","info":"","category":"","in":[],"out":[{"x":520,"y":80,"wires":[{"id":"d9fea9c7.ffb768","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"d2c36ffa.b0521","type":"mqtt in","z":"1ef12e67.8db042","name":"","topic":"rpi/gpio/1/input","qos":"2","datatype":"auto","broker":"63bbd1b9.bf68e","x":180,"y":80,"wires":[["d9fea9c7.ffb768"]]},{"id":"d9fea9c7.ffb768","type":"function","z":"1ef12e67.8db042","name":"pin12 state","func":"var jsonInput = JSON.parse(msg.payload);\nvar pin = jsonInput.pin;\nif(pin == 12) {\n    msg.payload = jsonInput.state\n    return msg    \n}\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":80,"wires":[[]]},{"id":"325545e8.28eb0a","type":"subflow","name":"Button 1 is pressed","info":"","category":"","in":[],"out":[{"x":580,"y":80,"wires":[{"id":"53c0c313.178aac","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"30ba211.69b75de","type":"mqtt in","z":"325545e8.28eb0a","name":"","topic":"rpi/gpio/1/input","qos":"2","datatype":"auto","broker":"63bbd1b9.bf68e","x":200,"y":80,"wires":[["53c0c313.178aac"]]},{"id":"53c0c313.178aac","type":"function","z":"325545e8.28eb0a","name":"pin11 state","func":"var jsonInput = JSON.parse(msg.payload);\nvar pin = jsonInput.pin;\nif(pin == 11) {\n    msg.payload = jsonInput.state\n    return msg    \n}\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":80,"wires":[[]]},{"id":"75ac7cdf.01a274","type":"subflow","name":"Turn off buzzer","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"77d39d89.cd2c74"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"77d39d89.cd2c74","type":"function","z":"75ac7cdf.01a274","name":"Pin 16","func":"\nmsg.payload = 16\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":190,"y":80,"wires":[["37890cd5.ef61a4"]]},{"id":"2ac9ca83.6e9456","type":"mqtt out","z":"75ac7cdf.01a274","name":"send to copernicus","topic":"rpi/gpio/1/output","qos":"","retain":"","broker":"63bbd1b9.bf68e","x":550,"y":80,"wires":[]},{"id":"37890cd5.ef61a4","type":"function","z":"75ac7cdf.01a274","name":"outputOff","func":"let pin = parseInt(msg.payload)\nmsg.payload = {'pin': pin, 'state': 0}\nglobal.set(`outputState${pin}`, false)\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":80,"wires":[["2ac9ca83.6e9456"]]},{"id":"27de3bcb.2dc874","type":"subflow","name":"Turn off lamp 2","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"cc79cda2.a590e"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"cc79cda2.a590e","type":"function","z":"27de3bcb.2dc874","name":"Pin 22","func":"\nmsg.payload = 22\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":190,"y":80,"wires":[["cbf90ff4.ea885"]]},{"id":"fddb9a0c.5871c8","type":"mqtt out","z":"27de3bcb.2dc874","name":"send to copernicus","topic":"rpi/gpio/1/output","qos":"","retain":"","broker":"63bbd1b9.bf68e","x":550,"y":80,"wires":[]},{"id":"cbf90ff4.ea885","type":"function","z":"27de3bcb.2dc874","name":"outputOff","func":"let pin = parseInt(msg.payload)\nmsg.payload = {'pin': pin, 'state': 0}\nglobal.set(`outputState${pin}`, false)\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":80,"wires":[["fddb9a0c.5871c8"]]},{"id":"ae013c42.bdf35","type":"subflow","name":"Turn off lamp 1","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"7d191eaf.b6a6c"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"cdb9fff7.69285","type":"function","z":"ae013c42.bdf35","name":"outputOff","func":"let pin = parseInt(msg.payload)\nmsg.payload = {'pin': pin, 'state': 0}\nglobal.set(`outputState${pin}`, false)\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":80,"wires":[["867422c6.aa308"]]},{"id":"7d191eaf.b6a6c","type":"function","z":"ae013c42.bdf35","name":"Pin 21","func":"\nmsg.payload = 21\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":190,"y":80,"wires":[["cdb9fff7.69285"]]},{"id":"867422c6.aa308","type":"mqtt out","z":"ae013c42.bdf35","name":"send to copernicus","topic":"rpi/gpio/1/output","qos":"","retain":"","broker":"63bbd1b9.bf68e","x":550,"y":80,"wires":[]},{"id":"e34dcbed.36b668","type":"subflow","name":"Turn on buzzer","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"3541776.6669688"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"3f94b78a.b45828","type":"function","z":"e34dcbed.36b668","name":"outputOn","func":"let pin = parseInt(msg.payload)\nmsg.payload = {'pin': pin, 'state': 1}\nglobal.set(`outputState${pin}`, true)\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":80,"wires":[["deee73c4.7eac4"]]},{"id":"3541776.6669688","type":"function","z":"e34dcbed.36b668","name":"Pin 16","func":"\nmsg.payload = 16\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":190,"y":80,"wires":[["3f94b78a.b45828"]]},{"id":"deee73c4.7eac4","type":"mqtt out","z":"e34dcbed.36b668","name":"send to copernicus","topic":"rpi/gpio/1/output","qos":"","retain":"","broker":"63bbd1b9.bf68e","x":550,"y":80,"wires":[]},{"id":"4779e404.e3e32c","type":"subflow","name":"Turn on lamp 2","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"476e45d5.6f554c"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"73db015d.4e3b","type":"function","z":"4779e404.e3e32c","name":"outputOn","func":"let pin = parseInt(msg.payload)\nmsg.payload = {'pin': pin, 'state': 1}\nglobal.set(`outputState${pin}`, true)\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":80,"wires":[["ef80c75.8bad538"]]},{"id":"476e45d5.6f554c","type":"function","z":"4779e404.e3e32c","name":"Pin 22","func":"\nmsg.payload = 22\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":190,"y":80,"wires":[["73db015d.4e3b"]]},{"id":"ef80c75.8bad538","type":"mqtt out","z":"4779e404.e3e32c","name":"send to copernicus","topic":"rpi/gpio/1/output","qos":"","retain":"","broker":"63bbd1b9.bf68e","x":550,"y":80,"wires":[]},{"id":"cc005ba2.367c28","type":"subflow","name":"Turn on lamp 1","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"89b5c42f.d94fc8"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"90fc05b3.43d5a8","type":"function","z":"cc005ba2.367c28","name":"outputOn","func":"let pin = parseInt(msg.payload)\nmsg.payload = {'pin': pin, 'state': 1}\nglobal.set(`outputState${pin}`, true)\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":80,"wires":[["bb045944.e02458"]]},{"id":"89b5c42f.d94fc8","type":"function","z":"cc005ba2.367c28","name":"Pin 21","func":"\nmsg.payload = 21\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":190,"y":80,"wires":[["90fc05b3.43d5a8"]]},{"id":"bb045944.e02458","type":"mqtt out","z":"cc005ba2.367c28","name":"send to copernicus","topic":"rpi/gpio/1/output","qos":"","retain":"","broker":"63bbd1b9.bf68e","x":550,"y":80,"wires":[]},{"id":"908e318d.9c3c","type":"subflow","name":"Toggle buzzer","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"ccb651ad.53841"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"5f281edb.d40d6","type":"function","z":"908e318d.9c3c","name":"toggleOutput","func":"let pin = parseInt(msg.payload)\nif (global.get(`outputState${pin}`)){\n    msg.payload = {'pin': pin, 'state': 0}\n    global.set(`outputState${pin}`, false)\n    \n} else {\n    msg.payload = {'pin': pin, 'state': 1}\n    global.set(`outputState${pin}`, true)\n}\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":80,"wires":[["450e5f42.ffc75"]]},{"id":"450e5f42.ffc75","type":"mqtt out","z":"908e318d.9c3c","name":"send to copernicus","topic":"rpi/gpio/1/output","qos":"","retain":"","broker":"63bbd1b9.bf68e","x":590,"y":80,"wires":[]},{"id":"ccb651ad.53841","type":"function","z":"908e318d.9c3c","name":"Pin 16","func":"\nmsg.payload = 16\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":190,"y":80,"wires":[["5f281edb.d40d6"]]},{"id":"8d00582.e57d4a8","type":"subflow","name":"Toggle lamp 2","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"6bd437c5.6d2748"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"6bd437c5.6d2748","type":"function","z":"8d00582.e57d4a8","name":"Pin 22","func":"\nmsg.payload = 22\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":190,"y":80,"wires":[["6b18be03.31a68"]]},{"id":"182e34e.c02a2cb","type":"mqtt out","z":"8d00582.e57d4a8","name":"send to copernicus","topic":"rpi/gpio/1/output","qos":"","retain":"","broker":"63bbd1b9.bf68e","x":590,"y":80,"wires":[]},{"id":"6b18be03.31a68","type":"function","z":"8d00582.e57d4a8","name":"toggleOutput","func":"let pin = parseInt(msg.payload)\nif (global.get(`outputState${pin}`)){\n    msg.payload = {'pin': pin, 'state': 0}\n    global.set(`outputState${pin}`, false)\n    \n} else {\n    msg.payload = {'pin': pin, 'state': 1}\n    global.set(`outputState${pin}`, true)\n}\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":80,"wires":[["182e34e.c02a2cb"]]},{"id":"6e7be7f7.feee68","type":"subflow","name":"Toggle lamp 1","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"1a1948ec.2aca87"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"4a3b0dd.6f0dcf4","type":"function","z":"6e7be7f7.feee68","name":"toggleOutput","func":"let pin = parseInt(msg.payload)\nif (global.get(`outputState${pin}`)){\n    msg.payload = {'pin': pin, 'state': 0}\n    global.set(`outputState${pin}`, false)\n    \n} else {\n    msg.payload = {'pin': pin, 'state': 1}\n    global.set(`outputState${pin}`, true)\n}\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":80,"wires":[["29dcac6f.a2d954"]]},{"id":"1a1948ec.2aca87","type":"function","z":"6e7be7f7.feee68","name":"Pin 21","func":"\nmsg.payload = 21\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":190,"y":80,"wires":[["4a3b0dd.6f0dcf4"]]},{"id":"29dcac6f.a2d954","type":"mqtt out","z":"6e7be7f7.feee68","name":"send to copernicus","topic":"rpi/gpio/1/output","qos":"","retain":"","broker":"63bbd1b9.bf68e","x":590,"y":80,"wires":[]},{"id":"63bbd1b9.bf68e","type":"mqtt-broker","name":"","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"73b4843b.26c4ec","type":"tab","label":"SmartHouseExample","disabled":false,"info":""},{"id":"961c194c.1dac28","type":"inject","z":"73b4843b.26c4ec","name":"button","props":[{"p":"payload"},{"p":"topic","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":230,"y":240,"wires":[["5425cd31.338da4"]]},{"id":"d8c66ece.3441e","type":"inject","z":"73b4843b.26c4ec","name":"button","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":230,"y":160,"wires":[["93f3fde6.de43a"]]},{"id":"1d968aa7.7c1e65","type":"inject","z":"73b4843b.26c4ec","name":"button","props":[{"p":"payload"},{"p":"topic","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":230,"y":280,"wires":[["c033108c.0c9bc"]]},{"id":"d1f0f829.6f0cd8","type":"inject","z":"73b4843b.26c4ec","name":"button","props":[{"p":"payload"},{"p":"topic","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":230,"y":320,"wires":[["37ebab48.c28dd4"]]},{"id":"5425cd31.338da4","type":"subflow:6e7be7f7.feee68","z":"73b4843b.26c4ec","name":"","env":[],"x":460,"y":240,"wires":[]},{"id":"c033108c.0c9bc","type":"subflow:8d00582.e57d4a8","z":"73b4843b.26c4ec","name":"","env":[],"x":460,"y":280,"wires":[]},{"id":"37ebab48.c28dd4","type":"subflow:908e318d.9c3c","z":"73b4843b.26c4ec","name":"","env":[],"x":460,"y":320,"wires":[]},{"id":"35dfa584.d8ebaa","type":"inject","z":"73b4843b.26c4ec","name":"button","props":[{"p":"payload"},{"p":"topic","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":230,"y":400,"wires":[["9b6798f0.1ba358"]]},{"id":"978ad72b.e62718","type":"inject","z":"73b4843b.26c4ec","name":"button","props":[{"p":"payload"},{"p":"topic","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":230,"y":440,"wires":[["47d30d34.3c8674"]]},{"id":"abccec13.87d27","type":"inject","z":"73b4843b.26c4ec","name":"button","props":[{"p":"payload"},{"p":"topic","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":230,"y":480,"wires":[["ee659665.b47648"]]},{"id":"f6362394.e9d72","type":"inject","z":"73b4843b.26c4ec","name":"button","props":[{"p":"payload"},{"p":"topic","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":230,"y":560,"wires":[["553c51f9.c0004"]]},{"id":"a9cabde8.b6ee9","type":"inject","z":"73b4843b.26c4ec","name":"button","props":[{"p":"payload"},{"p":"topic","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":230,"y":600,"wires":[["ce04eaea.ecdca8"]]},{"id":"4576d635.cf5858","type":"inject","z":"73b4843b.26c4ec","name":"button","props":[{"p":"payload"},{"p":"topic","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":230,"y":640,"wires":[["a12faa74.8d89e8"]]},{"id":"9b6798f0.1ba358","type":"subflow:cc005ba2.367c28","z":"73b4843b.26c4ec","name":"","env":[],"x":460,"y":400,"wires":[]},{"id":"47d30d34.3c8674","type":"subflow:4779e404.e3e32c","z":"73b4843b.26c4ec","name":"","env":[],"x":460,"y":440,"wires":[]},{"id":"ee659665.b47648","type":"subflow:e34dcbed.36b668","z":"73b4843b.26c4ec","name":"","env":[],"x":460,"y":480,"wires":[]},{"id":"553c51f9.c0004","type":"subflow:ae013c42.bdf35","z":"73b4843b.26c4ec","name":"","env":[],"x":460,"y":560,"wires":[]},{"id":"ce04eaea.ecdca8","type":"subflow:27de3bcb.2dc874","z":"73b4843b.26c4ec","name":"","env":[],"x":460,"y":600,"wires":[]},{"id":"a12faa74.8d89e8","type":"subflow:75ac7cdf.01a274","z":"73b4843b.26c4ec","name":"","env":[],"x":460,"y":640,"wires":[]},{"id":"36a5e6b3.e67d3a","type":"subflow:6e7be7f7.feee68","z":"73b4843b.26c4ec","name":"","env":[],"x":460,"y":740,"wires":[]},{"id":"245af568.7d89da","type":"subflow:8d00582.e57d4a8","z":"73b4843b.26c4ec","name":"","env":[],"x":460,"y":780,"wires":[]},{"id":"ad530f7f.aad8a","type":"inject","z":"73b4843b.26c4ec","name":"button","props":[{"p":"payload"},{"p":"topic","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":230,"y":760,"wires":[["36a5e6b3.e67d3a","245af568.7d89da"]]},{"id":"5fe8585b.fb9b78","type":"subflow:325545e8.28eb0a","z":"73b4843b.26c4ec","name":"Button 1 is pressed","env":[],"x":250,"y":880,"wires":[["e1fa8505.c536f8","d328af28.51f25"]]},{"id":"3cc17402.444e6c","type":"subflow:1ef12e67.8db042","z":"73b4843b.26c4ec","name":"Button 2 is pressed","env":[],"x":250,"y":980,"wires":[["f4d87853.d2f768","b3e2794d.cd3ae8"]]},{"id":"e1fa8505.c536f8","type":"subflow:8d00582.e57d4a8","z":"73b4843b.26c4ec","name":"","x":460,"y":860,"wires":[]},{"id":"f4d87853.d2f768","type":"subflow:908e318d.9c3c","z":"73b4843b.26c4ec","name":"","x":460,"y":960,"wires":[]},{"id":"b3e2794d.cd3ae8","type":"subflow:cc005ba2.367c28","z":"73b4843b.26c4ec","name":"","env":[],"x":460,"y":1000,"wires":[]},{"id":"d328af28.51f25","type":"subflow:ae013c42.bdf35","z":"73b4843b.26c4ec","name":"","env":[],"x":460,"y":900,"wires":[]},{"id":"93f3fde6.de43a","type":"subflow:8a9e43e6.bfabc","z":"73b4843b.26c4ec","name":"","env":[],"x":490,"y":160,"wires":[]}]