Flows/flows_weather_forecast.json
[{"id":"86fe0f1e.2cf8b","type":"tab","label":"Weather forecast example","disabled":false,"info":""},{"id":"7fea035e.fd638c","type":"subflow","name":"Servo","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"bd925955.af2398"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"891a0073.5a77f","type":"subflow","name":"Initialization","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"4c06fbe9.bc3ae4"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"308ddf85.0db04","type":"subflow","name":"Button 2 is pressed","info":"","category":"","in":[],"out":[{"x":520,"y":80,"wires":[{"id":"25e695b.0c1f66a","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"a08a9ac.7243268","type":"subflow","name":"Button 1 is pressed","info":"","category":"","in":[],"out":[{"x":580,"y":80,"wires":[{"id":"b641f79f.c57448","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"d85edf2c.27e6","type":"subflow","name":"Weather forecast init","info":"","category":"","in":[{"x":40,"y":80,"wires":[{"id":"a842e130.8fa64"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"63bbd1b9.bf68e","type":"mqtt-broker","name":"","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f18469.5c132b98","type":"ui_group","name":"Default","tab":"a538eb2b.12c278","order":1,"disp":true,"width":"6","collapse":false},{"id":"a538eb2b.12c278","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"285205be.d79ffa","type":"mqtt-broker","name":"","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"cb14bd3c.b130f","type":"function","z":"7fea035e.fd638c","name":"toggleOutput","func":"let pin = parseInt(msg.payload.pin)\nmsg.payload = {'pin': pin, 'angle': parseInt(msg.payload.angle)}\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":80,"wires":[["d0a56d4c.76bf2"]]},{"id":"bd925955.af2398","type":"function","z":"7fea035e.fd638c","name":"Pin 17","func":"let angle = msg.payload;\nmsg.payload = {\n    pin: 17,\n    angle: angle\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":190,"y":80,"wires":[["cb14bd3c.b130f"]]},{"id":"d0a56d4c.76bf2","type":"mqtt out","z":"7fea035e.fd638c","name":"send to copernicus","topic":"rpi/gpio/1/output","qos":"","retain":"","broker":"63bbd1b9.bf68e","x":590,"y":80,"wires":[]},{"id":"6827ea0a.b9a984","type":"mqtt out","z":"891a0073.5a77f","name":"initialize copernicus","topic":"rpi/gpio/1/init","qos":"","retain":"","broker":"63bbd1b9.bf68e","x":590,"y":80,"wires":[]},{"id":"4c06fbe9.bc3ae4","type":"function","z":"891a0073.5a77f","name":"init","func":"const pins = msg.payload\n    \npins.forEach(pin => {\n    if (pin.type === \"DigitalOutput\") {\n        global.set(`outputState${pin.pin}`, false)\n    }\n})\n\nreturn { payload: {\n\t\"init\": true,\n\t\"pins\": pins\n}}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":190,"y":80,"wires":[["6827ea0a.b9a984"]]},{"id":"5b8aecff.fc5344","type":"inject","z":"86fe0f1e.2cf8b","name":"button","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":130,"y":140,"wires":[["ffc8eb56.e89418"]]},{"id":"c0a5150c.b94f08","type":"inject","z":"86fe0f1e.2cf8b","name":"button","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"-90","payloadType":"str","x":130,"y":220,"wires":[["30efb3d2.da65fc"]]},{"id":"30efb3d2.da65fc","type":"subflow:7fea035e.fd638c","z":"86fe0f1e.2cf8b","x":290,"y":220,"wires":[]},{"id":"f8bce9de.5957c8","type":"mqtt in","z":"308ddf85.0db04","name":"","topic":"rpi/gpio/1/input","qos":"2","datatype":"auto","broker":"63bbd1b9.bf68e","x":180,"y":80,"wires":[["25e695b.0c1f66a"]]},{"id":"25e695b.0c1f66a","type":"function","z":"308ddf85.0db04","name":"pin12 state","func":"var jsonInput = JSON.parse(msg.payload);\nvar pin = jsonInput.pin;\nif(pin == 12) {\n    msg.payload = jsonInput.state\n    return msg    \n}\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":80,"wires":[[]]},{"id":"7ba27903.056768","type":"mqtt in","z":"a08a9ac.7243268","name":"","topic":"rpi/gpio/1/input","qos":"2","datatype":"auto","broker":"63bbd1b9.bf68e","x":200,"y":80,"wires":[["b641f79f.c57448"]]},{"id":"b641f79f.c57448","type":"function","z":"a08a9ac.7243268","name":"pin11 state","func":"var jsonInput = JSON.parse(msg.payload);\nvar pin = jsonInput.pin;\nif(pin == 11) {\n    msg.payload = jsonInput.state\n    return msg    \n}\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":80,"wires":[[]]},{"id":"7825d35a.65ecdc","type":"subflow:a08a9ac.7243268","z":"86fe0f1e.2cf8b","name":"Button 1 is pressed","env":[],"x":150,"y":320,"wires":[["42e22127.7925"]]},{"id":"3efe9059.3a9fb","type":"subflow:308ddf85.0db04","z":"86fe0f1e.2cf8b","name":"Button 2 is pressed","env":[],"x":150,"y":380,"wires":[["fa45d493.829c58"]]},{"id":"6b0f1835.b119a8","type":"subflow:891a0073.5a77f","z":"d85edf2c.27e6","name":"","env":[],"x":370,"y":80,"wires":[]},{"id":"a842e130.8fa64","type":"function","z":"d85edf2c.27e6","name":"Pins settings","func":"const pins = [\n    {\n\t     \"pin\": 17,\n\t     \"type\": \"AngularServo\"\n    },\n    {\n\t     \"pin\": 11,\n\t     \"type\": \"DigitalInput\"\n    }, \t\n    { \t       \n        \"pin\": 12, \t        \n        \"type\": \"DigitalInput\" \t    \n    }, \t\n]\nmsg.payload = pins\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":190,"y":80,"wires":[["6b0f1835.b119a8"]]},{"id":"42e22127.7925","type":"function","z":"86fe0f1e.2cf8b","name":"setAngle","func":"msg.payload = 40;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":320,"wires":[["652881a0.bef24"]]},{"id":"fa45d493.829c58","type":"function","z":"86fe0f1e.2cf8b","name":"setAngle","func":"msg.payload = -40;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":380,"wires":[["6514fec1.2c67b"]]},{"id":"652881a0.bef24","type":"subflow:7fea035e.fd638c","z":"86fe0f1e.2cf8b","name":"","env":[],"x":530,"y":320,"wires":[]},{"id":"6514fec1.2c67b","type":"subflow:7fea035e.fd638c","z":"86fe0f1e.2cf8b","name":"","env":[],"x":530,"y":380,"wires":[]},{"id":"ffc8eb56.e89418","type":"subflow:d85edf2c.27e6","z":"86fe0f1e.2cf8b","name":"Weather forecast init","env":[],"x":340,"y":140,"wires":[]}]