Flows/flows_weather_forecast.json
[{"id":"2e966d8e.ce1312","type":"subflow","name":"Initialization","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"b821f6b1.de10d8"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"99e4b1f0.8310b","type":"mqtt out","z":"2e966d8e.ce1312","name":"initialize copernicus","topic":"rpi/gpio/1/init","qos":"","retain":"","broker":"63bbd1b9.bf68e","x":590,"y":80,"wires":[]},{"id":"b821f6b1.de10d8","type":"function","z":"2e966d8e.ce1312","name":"init","func":"const pins = msg.payload\n    \npins.forEach(pin => {\n    if (pin.type === \"DigitalOutput\") {\n        global.set(`outputState${pin.pin}`, false)\n    }\n})\n\nreturn { payload: {\n\t\"init\": true,\n\t\"pins\": pins\n}}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":190,"y":80,"wires":[["99e4b1f0.8310b"]]},{"id":"597c59d8.23e8e8","type":"subflow","name":"Weather forecast init","info":"","category":"","in":[{"x":40,"y":80,"wires":[{"id":"6a6b0f4f.b9ce1"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"c6b5881e.e9ece8","type":"subflow:2e966d8e.ce1312","z":"597c59d8.23e8e8","name":"","env":[],"x":370,"y":80,"wires":[]},{"id":"6a6b0f4f.b9ce1","type":"function","z":"597c59d8.23e8e8","name":"Pins settings","func":"const pins = [\n    {\n\t     \"pin\": 17,\n\t     \"type\": \"AngularServo\"\n    },\n    {\n\t     \"pin\": 11,\n\t     \"type\": \"DigitalInput\"\n    }, \t\n    { \t       \n        \"pin\": 12, \t        \n        \"type\": \"DigitalInput\" \t    \n    }, \t\n]\nmsg.payload = pins\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":190,"y":80,"wires":[["c6b5881e.e9ece8"]]},{"id":"121ecc5c.c7eab4","type":"subflow","name":"Button 2 is pressed","info":"","category":"","in":[],"out":[{"x":520,"y":80,"wires":[{"id":"a93ae6c3.2f0c58","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"6df1021d.d07e6c","type":"mqtt in","z":"121ecc5c.c7eab4","name":"","topic":"rpi/gpio/1/input","qos":"2","datatype":"auto","broker":"63bbd1b9.bf68e","x":180,"y":80,"wires":[["a93ae6c3.2f0c58"]]},{"id":"a93ae6c3.2f0c58","type":"function","z":"121ecc5c.c7eab4","name":"pin12 state","func":"var jsonInput = JSON.parse(msg.payload);\nvar pin = jsonInput.pin;\nif(pin == 12) {\n    msg.payload = jsonInput.state\n    return msg    \n}\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":80,"wires":[[]]},{"id":"aaede6d3.65d658","type":"subflow","name":"Button 1 is pressed","info":"","category":"","in":[],"out":[{"x":580,"y":80,"wires":[{"id":"4ede7009.04551","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"e3cd2a4e.298c88","type":"mqtt in","z":"aaede6d3.65d658","name":"","topic":"rpi/gpio/1/input","qos":"2","datatype":"auto","broker":"63bbd1b9.bf68e","x":200,"y":80,"wires":[["4ede7009.04551"]]},{"id":"4ede7009.04551","type":"function","z":"aaede6d3.65d658","name":"pin11 state","func":"var jsonInput = JSON.parse(msg.payload);\nvar pin = jsonInput.pin;\nif(pin == 11) {\n    msg.payload = jsonInput.state\n    return msg    \n}\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":80,"wires":[[]]},{"id":"b78d4367.daa8d","type":"subflow","name":"Servo","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"18e4d5d7.c5756a"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"5da91a0b.3c2e54","type":"function","z":"b78d4367.daa8d","name":"toggleOutput","func":"let pin = parseInt(msg.payload.pin)\nmsg.payload = {'pin': pin, 'angle': parseInt(msg.payload.angle)}\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":80,"wires":[["790e2e79.0e77d"]]},{"id":"18e4d5d7.c5756a","type":"function","z":"b78d4367.daa8d","name":"Pin 17","func":"let angle = msg.payload;\nmsg.payload = {\n    pin: 17,\n    angle: angle\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":190,"y":80,"wires":[["5da91a0b.3c2e54"]]},{"id":"790e2e79.0e77d","type":"mqtt out","z":"b78d4367.daa8d","name":"send to copernicus","topic":"rpi/gpio/1/output","qos":"","retain":"","broker":"63bbd1b9.bf68e","x":590,"y":80,"wires":[]},{"id":"63bbd1b9.bf68e","type":"mqtt-broker","name":"","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ec2b9da1.df552","type":"tab","label":"Weather forecast example","disabled":false,"info":""},{"id":"c6d769ce.5da518","type":"inject","z":"ec2b9da1.df552","name":"button","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":130,"y":140,"wires":[["d6386213.2e678"]]},{"id":"c6c9a770.b744d8","type":"inject","z":"ec2b9da1.df552","name":"button","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"-90","payloadType":"str","x":130,"y":220,"wires":[["a5a7a34b.cd33f"]]},{"id":"a5a7a34b.cd33f","type":"subflow:b78d4367.daa8d","z":"ec2b9da1.df552","x":290,"y":220,"wires":[]},{"id":"c2a140df.a1f6c","type":"subflow:aaede6d3.65d658","z":"ec2b9da1.df552","name":"Button 1 is pressed","env":[],"x":150,"y":320,"wires":[["926b747d.d8df38"]]},{"id":"b4cfd0f.5bcaa3","type":"subflow:121ecc5c.c7eab4","z":"ec2b9da1.df552","name":"Button 2 is pressed","env":[],"x":150,"y":380,"wires":[["b9455e8.1d118a"]]},{"id":"926b747d.d8df38","type":"function","z":"ec2b9da1.df552","name":"setAngle","func":"msg.payload = 40;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":320,"wires":[["427549b7.d1d458"]]},{"id":"b9455e8.1d118a","type":"function","z":"ec2b9da1.df552","name":"setAngle","func":"msg.payload = -40;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":380,"wires":[["9dcf0ba8.be9728"]]},{"id":"427549b7.d1d458","type":"subflow:b78d4367.daa8d","z":"ec2b9da1.df552","name":"","env":[],"x":530,"y":320,"wires":[]},{"id":"9dcf0ba8.be9728","type":"subflow:b78d4367.daa8d","z":"ec2b9da1.df552","name":"","env":[],"x":530,"y":380,"wires":[]},{"id":"d6386213.2e678","type":"subflow:597c59d8.23e8e8","z":"ec2b9da1.df552","name":"Weather forecast init","env":[],"x":340,"y":140,"wires":[]}]