Flows/LED_subflows.json
[{"id":"8b23e2e8.ac8d","type":"subflow","name":"Subflow 3","info":"","in":[{"x":60,"y":80,"wires":[{"id":"feb278b6.276438"}]}],"out":[]},{"id":"24b8280e.56b688","type":"mqtt out","z":"8b23e2e8.ac8d","name":"sendToCopernicus","topic":"vcop_ng/test/2/input","qos":"","retain":"","broker":"285205be.d79ffa","x":450,"y":80,"wires":[]},{"id":"feb278b6.276438","type":"function","z":"8b23e2e8.ac8d","name":"toggleLed","func":"return global.get('list').pop();","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nconst msg1 = { payload: {\n\t\"init\": true,\n\t\"pin\": 21,\n\t\"type\": \"DigitalOutput\"\n}}\n\nconst msg2 = { payload: {\n\t\"init\": true,\n\t\"pin\": 22,\n\t\"type\": \"DigitalOutput\"\n}}\n\nglobal.set('list', [msg1, msg2]);","finalize":"","x":200,"y":80,"wires":[["24b8280e.56b688"]]},{"id":"fbeb082.6fef1f8","type":"subflow","name":"Subflow 2","info":"","in":[{"x":60,"y":80,"wires":[{"id":"7ad05152.b69ef"}]}],"out":[]},{"id":"7ad05152.b69ef","type":"function","z":"fbeb082.6fef1f8","name":"toggleLed","func":"if (global.get('ledState1')){\n    msg.payload = {'init': false, 'pin': 22, 'state': 0}\n    global.set('ledState1', false)\n    \n} else {\n    msg.payload = {'init': false, 'pin': 22, 'state': 1}\n    global.set('ledState1', true)\n}\n\nreturn msg","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\n\n\nglobal.set('ledState1', false)","finalize":"","x":200,"y":80,"wires":[["4d4d136.965dcec"]]},{"id":"4d4d136.965dcec","type":"mqtt out","z":"fbeb082.6fef1f8","name":"sendToCopernicus","topic":"vcop_ng/test/2/input","qos":"","retain":"","broker":"285205be.d79ffa","x":470,"y":80,"wires":[]},{"id":"a6696c92.526d8","type":"subflow","name":"Subflow 1","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"c0afc997.ba67b8"}]}],"out":[],"env":[],"color":"#DDAA99"},{"id":"c0afc997.ba67b8","type":"function","z":"a6696c92.526d8","name":"toggleLed","func":"if (global.get('ledState2')){\n    msg.payload = {'init': false, 'pin': 21, 'state': 0}\n    global.set('ledState2', false)\n    \n} else {\n    msg.payload = {'init': false, 'pin': 21, 'state': 1}\n    global.set('ledState2', true)\n}\n\nreturn msg","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\n\n\nglobal.set('ledState2', false)","finalize":"","x":200,"y":80,"wires":[["3701d90e.243986"]]},{"id":"3701d90e.243986","type":"mqtt out","z":"a6696c92.526d8","name":"sendToCopernicus","topic":"vcop_ng/test/2/input","qos":"","retain":"","broker":"285205be.d79ffa","x":470,"y":80,"wires":[]},{"id":"285205be.d79ffa","type":"mqtt-broker","name":"","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"30b5c005.f1bc9","type":"inject","z":"71bdcd47.802104","name":"Toggle","props":[{"p":"payload"},{"p":"topic","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":570,"y":420,"wires":[["b0688103.8e7ea"]]},{"id":"90ea5e44.c349a","type":"inject","z":"71bdcd47.802104","name":"Toggle","props":[{"p":"payload"},{"p":"topic","v":"","vt":"date"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":570,"y":340,"wires":[["a11db402.e3d6d8"]]},{"id":"a11db402.e3d6d8","type":"subflow:a6696c92.526d8","z":"71bdcd47.802104","name":"toggleLED1","env":[],"x":830,"y":340,"wires":[]},{"id":"b0688103.8e7ea","type":"subflow:fbeb082.6fef1f8","z":"71bdcd47.802104","name":"toggleLED2","env":[],"x":830,"y":420,"wires":[]},{"id":"c23901a6.d63f6","type":"inject","z":"71bdcd47.802104","name":"Init","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":570,"y":260,"wires":[["dbb97953.f5c858"]]},{"id":"dbb97953.f5c858","type":"subflow:8b23e2e8.ac8d","z":"71bdcd47.802104","name":"LEDInit","env":[],"x":840,"y":260,"wires":[]}]